aside {
  border-right: 1px solid #ebebeb;
  padding: 1.8rem;
}

aside nav {
  display: flex;
  flex-direction: column;
}
aside ul {
  /* Nadpisanie domyślnych styli przeglądarki */
  padding-inline-start: 1rem;
  list-style-type: none;
}

.aside-list {
  border-bottom: 1px solid #ebebeb;
}

.aside-row {
  display: flex;
  flex-direction: row;
}
.aside-row svg {
  margin-right: 0.8rem;
  align-self: center;
}

aside li a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: #23213d;
  line-height: 2.5rem;
}

aside a.active,
a:hover {
  color: #fe3756;
}

aside a.active svg path,
a:hover svg * {
  stroke: #fe3756;
}